$white: #fff;
$black: #000;
$blueA: #00FFFF;
$violinDark: #120039;
$violin: #5022B3;
$violinLight: #6B70FF;
$violinLighter: rgba(80, 34, 179, 0.25);
$violinShadow: 0px 0px 4px rgba(107, 112, 255, 0.5);
$grey: #979797;
$greyLight: #BBBBBB;


$btnBgColor: linear-gradient(180deg, #FA09FF -44.53%, #EE0A0A 247.5%);
$btnBgColorHovered: linear-gradient(0deg,rgba(0,0,0,.25),rgba(0,0,0,.25)),linear-gradient(180deg,#fa09ff -44.53%,#ee0a0a 247.5%);
$btnShadow: 0px 1px 2px rgba(66, 30, 146, 0.35);




$XS: 400px;
$S: 576px;
$M: 768px; // 0- 768 - mobile
$L: 992px; // 768- 992 - tablet
$XL: 1200px; // 992 - infinity - desktop
$XXL: 1400px;
