@import '~bootstrap';

* {
  font-family: 'montserrat-regular', sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.timer span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.mdl {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 200px;
  z-index: 10;
}

.slow-show {
  animation: .3s ease-in show;
}

.slow-hide {
  animation: .3s ease-in hide;
}

@keyframes show {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.reg, .pay, .amt, .res, .exp {
  opacity: 0;
  animation: ani 1.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
