@import '~bootstrap';

* {
  font-family: 'montserrat-regular', sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.timer span {
  display: inline-block;
  width: 50px;
  text-align: center;
  //åcolor: white;
}